/* 
* Media Queries 
*/
@media screen and (max-width: 350px) {
    h1::after {
        font-size: 0.8rem;
    }

    .card-title-media::after {
        font-size: xx-small;
    }
}

@media screen and (max-width: 480px) {

    .card-title-media::after {
        font-size: xx-small;
    }
}

/* 
* General queries
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.parallax {
    opacity: 0.6;
}

#hero {
    transform: translate3d(-50%, 100%, 0px);
    z-index: 1;
    background-image: "../images/children.webp";
}

#index-banner {
    margin-top: 30px;
}

#add_child {
    margin-right: 30px;
}

.card-style {
    min-height: 220px;
    position: relative;
}

.card-style a,
.card-style p {
    position: absolute;
    bottom: 30px;
    left: 80%;
}