{% extends 'base.html' %}

{% block content %}
<ul class="collection" id="child_list">
    {% for child in children %}
    <li class="collection-item avatar">
        <span class="title">{{ child.first_name }}</span>
        <p>First Line <br>
            Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">View Records</i></a>
        <a href="#!" class="secondary-content"><i class="material-icons">View Records</i></a>
    </li>
    {% endfor %}
</ul>
<div id="button_div" class="row">
    <a href="{{ url_for('add_child') }}" class="btn waves-effect waves-light btn-floating btn-large right"
        id="add_child"><i class="material-icons">add</i></a>
</div>

{% endblock %}