{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3 class="center-align">Edit Record</h3>
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_record', record_id=record.id) }}">
            <div class="card-panel">
                <!-- title -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="record_title" name="title" type="text" minlength="4" maxlength="50" required
                            data-length="50">
                        <label for="title">Existing title: {{ record.title}}</label>
                    </div>
                </div>
                <!-- activity type -->
                <div class="row">
                    <div class="input-field col s12">
                        <select id="activity" name="activity" required>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="feeding">Feeding</option>
                            <option value="bottle">Bottle</option>
                            <option value="sleep">Sleep</option>
                            <option value="nappies">Nappies</option>
                            <option value="weight">weight</option>
                        </select>
                        <label for="activity">Existing Activity: {{ record.activity }}</label>
                    </div>
                </div>
                <!-- duration -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="duration" name="duration" type="text" minlength="0" maxlength="50" data-length="50">
                        <label for="duration">Existing Duration: {{ record.duration}} minutes</label>
                    </div>
                </div>
                <!-- duration -->
                <div class="row">
                    <div class="input-field col s6">
                        <input id="quantity" name="quantity" type="text" minlength="0" maxlength="5" data-length="5"
                            validate required>
                        <label for="quantity">Existing Quantity: {{ record.quantity}}</label>
                    </div>
                    <!-- units -->
                    <div class="input-field col s5 offset-s1">
                        <select id="units" name="units">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="ml">millilitre</option>
                            <option value="kg">kilogram</option>
                            <option value="lb">pounds</option>
                            <option value="oz">ounces</option>
                            <option value=" ">number</option>
                        </select>
                        <label for="units">Existing Units: {{ record.units }}</label>
                    </div>
                </div>
                <!-- location -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="location" name="location" type="text" minlength="0" maxlength="50" data-length="50">
                        <label for="location">Existing Location: {{ record.location }}</label>
                    </div>
                </div>
                <!-- notes -->
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="notes" name="notes" type="text" minlength="0" maxlength="50"
                            data-length="50"></textarea>
                        <label for="notes">Existing Notes: {{ record.notes }}</label>
                    </div>
                </div>
                <!-- add child -->
                <div class="row">
                    <a href="{{ url_for('child_home', child_id=child_id)}}" type="button"
                        class="col s4 offset-s1 btn-large indigo lighten-2 text-shadow">
                        Cancel<i class="fa-solid fa-circle-xmark right"></i>
                    </a>
                    <button type="submit" class="col s4 offset-s2 btn-large indigo lighten-2 text-shadow">
                        Edit record<i class="fa-solid fa-circle-plus right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}