{% extends 'base.html' %}

{% block content %}
<div class="row container">
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <h1 class="header center"><strong>Baby Journal</strong></h1>
                <div class="row center">
                    <h5 class="header col s12 light">A modern web app for tracking all of your babies needs</h5>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img id="hero" src="{{ url_for('static', filename='images/children.webp') }} " alt="images of baby">
        </div>
    </div>
</div>
<div class="container row">
    <h3 class="left col s12">Features</h3>
    <div class="col s4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../static/images/baby.webp">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Feeding Tracker</span>
                <i class="material-icons">More
                    info</i>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Fully Customisable<i
                        class="material-icons right">close</i></span>
                <div>
                    <p>- Start and stop nursing timer with one tap for convenience and accuracy
                        <br><br>- Input for nursing, formula, solids, or any combination.
                        <br><br>- Track time nursing per breast and total for full nursing session.
                        <br><br>- Tracks pumping totals as well as feedings.
                        <br><br>- Notes section allows you to enter details on formula brand,
                        preferences, or allergic
                        response
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../static/images/baby.webp">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Feeding Tracker</span>
                <i class="material-icons">More
                    info</i>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i
                        class="material-icons right">close</i></span>
                <div>
                    <p>- Start and stop nursing timer with one tap for convenience and accuracy
                        <br><br>- Input for nursing, formula, solids, or any combination.
                        <br><br>- Track time nursing per breast and total for full nursing session.
                        <br><br>- Tracks pumping totals as well as feedings.
                        <br><br>- Notes section allows you to enter details on formula brand,
                        preferences, or allergic response
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../static/images/baby.webp">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Feeding Tracker</span>
                <i class="material-icons">More
                    info</i>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i
                        class="material-icons right">close</i></span>
                <div>
                    <p>- Start and stop nursing timer with one tap for convenience and accuracy
                        <br><br>- Input for nursing, formula, solids, or any combination.
                        <br><br>- Track time nursing per breast and total for full nursing session.
                        <br><br>- Tracks pumping totals as well as feedings.
                        <br><br>- Notes section allows you to enter details on formula brand,
                        preferences, or allergic
                        response
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}